@import "../Base/Mixin.scss";
@import "../Base/Variable.scss";

.about{
    height: 100vh;
    background-color: rgb(35, 83, 122);
    @include Center();
    flex-direction: column;

    h1{
        position: relative;
        top: -25px;
        font-size: 70px;

        span{
            color: red;
        }
    }

    p{
        font-size: 25px;
        width: 90%;
        text-align: center;
    }
}