@import "../Base/Mixin.scss";
@import "../Base/Variable.scss";

.about{
    height: 100vh;
    @include Center();
    // background-color: red;
    flex-direction: column;

    h1{
        position: relative;
        left: 10px;
        font-size: 70px;
        span{
            color: red;
        }
    }

    p{
        position: relative;
        top: 80px;
        font-size: 25px;
        width: 90%;
        text-align: center;
    }
}